.item-card{
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 114, 247);
    border: 1px solid white;
    border-radius: 10px;
}

p{
    margin: 10px;
}

button {
    margin: 10px;
    background-color: white;
    border-radius: 15px;
}
