.item-card{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 71, 245);
}

p{
    margin: 10px;
}

button {
    margin: 10px;
}
